In [18]:
from cities import get_city_data
import pandas as pd

In [12]:
data = get_city_data()

In [13]:
data_og = data.copy()
data_og.loc[:, 'key'] = 1
data_cp = data.copy()
data_cp.columns = ['{}_comp'.format(col) for col in data_cp.columns]
data_cp.loc[:, 'key'] = 1

In [16]:
cross_data = pd.merge(left=data_og, right=data_cp, on=['key']).drop(columns=['key'])

In [17]:
cross_data.head()

  location     lat       lng location_comp  lat_comp  lng_comp
0   Sydney -33.865  151.2094        Sydney  -33.8650  151.2094
1   Sydney -33.865  151.2094     Melbourne  -37.8136  144.9631
2   Sydney -33.865  151.2094      Brisbane  -27.4678  153.0281
3   Sydney -33.865  151.2094         Perth  -31.9522  115.8589
4   Sydney -33.865  151.2094      Adelaide  -34.9289  138.6011

In [ ]:
cross_data.loc[:, 'dist'] = (cross_data.loc[:, ''])