In [1]:
from cities import get_city_data
import pandas as pd

In [37]:
data = pd.read_csv('weatherAUS.csv')
data.columns = [col.lower() for col in data.columns]
adjacent_data = pd.read_csv('loc_relation.csv')

In [39]:
adjacent_data = adjacent_data.loc[:, ['location', 'location_cmp', 'top_label']]
adjacent_merge = pd.merge(left=data, right=adjacent_data, on='location', how='inner')

In [27]:
adjacent_ = adjacent_merge.loc[:, ['date', 'location', 'top_label', 'raintoday']]

In [30]:
adjacent_merge.pivot(columns=['top_label'], index=['location', 'date']).head(20)

                    raintoday
top_label               top_1 top_2 top_3
location date
Adelaide 2008-07-01       Yes   Yes   Yes
         2008-07-02        No    No    No
         2008-07-03        No    No    No
         2008-07-04        No    No    No
         2008-07-05        No    No    No
         2008-07-06       NaN   NaN   NaN
         2008-07-07       Yes   Yes   Yes
         2008-07-08       Yes   Yes   Yes
         2008-07-09       Yes   Yes   Yes
         2008-07-10       Yes   Yes   Yes
         2008-07-11        No    No    No
         2008-07-12       NaN   NaN   NaN
         2008-07-13       NaN   NaN   NaN
         2008-07-14       Yes   Yes   Yes
         2008-07-15       Yes   Yes   Yes
         2008-07-16        No    No    No
         2008-07-17        No    No    No
         2008-07-18       Yes   Yes   Yes
         2008-07-19       NaN   NaN   NaN
         2008-07-20       NaN   NaN   NaN

In [40]:
adjacent_merge.head()

,date,location,mintemp,maxtemp,rainfall,evaporation,sunshine,windgustdir,windgustspeed,winddir9am,...,pressure9am,pressure3pm,cloud9am,cloud3pm,temp9am,temp3pm,raintoday,raintomorrow,location_cmp,top_label
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No,Sale,top_1
1,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No,Canberra,top_2
2,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No,Melbourne,top_3
3,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No,Sale,top_1
4,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No,Canberra,top_2